.loginContainer {
    margin-top: 180px !important;
    height: 450px !important;
    border-radius: 5px !important;
    background: rgb(15,15,15) !important;
background: linear-gradient(0deg, rgba(15,15,15,1) 39%, rgba(168,19,96,1) 100%) !important;
    width: 300px !important;
    border: 1px solid black !important;
  }
  .backgroundImage {
    position: absolute;
    z-index: -10;
    width: 100%;
    height: 100%;
    left: 0;
    top: 100px;
    filter: blur(8px);
    -webkit-filter: blur(8px);
  }
  @media screen and (max-width: 765px) {
    .backgroundImage{
      display: none;
    }
   
  .loginRegisterContainer{margin-bottom: 0px !important;}
  }
  .loginRegisterContainer {
    margin-top: 28px !important;
    width: 300px !important;
    height: 80px !important;
    border: 1px solid !important;
    border-radius: 5px !important;
   background-color: #0f0f0f !important;
    margin-bottom: 255px !important;
    padding-bottom: 20px !important;
  }
  .logoRow {
   margin-bottom: -70px !important;
   margin-top: -40px !important;
  }
  .emailLogin {
    -webkit-appearance: none !important;
    margin-top: 30px !important;
    border-color: lightgray !important;
    width: 230px !important;
    text-align: center !important;
    border-radius: 5px !important;
    height: 33.5px !important;
    color:#A8136C !important;
    font-size: 20px !important;
  }
  .passwordLogin {
    -webkit-appearance: none !important;
    margin-top: 20px !important;
    border-color: lightgray !important;
    width: 230px !important;
    text-align: center !important;
    border-radius: 5px !important;
    height: 33.5px !important;
    margin-bottom: 5px !important;
    color:#0f0f0f !important;
    font-size: 20px !important;
  }
  .loginBtnLoading {
    width: 60px;
    height:60px;
    font-weight: 500;
    border-radius: 50px;
    background-image:url("https://i.pinimg.com/originals/48/91/0d/48910d73ef5c7ce6b9492c68a972e71d.png");
    background-size: 53.5px 53.5px;
    border-color:black;
    border:3px solid black;
    -webkit-animation:spin 4s linear infinite;
      -moz-animation:spin 4s linear infinite;
      animation:spin 4s linear infinite;
  }
  .loginBtn {
      margin-top: 10px !important;
      letter-spacing: 1px !important;
      width: 120px !important;
      height:30px !important;
      font-weight: 550 !important;
      font-size: 16px !important;
      border-radius: 5px !important;
      border-color:black !important;
      border:1px solid black !important;
      background-color:#A8136C !important;
    }
  @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
  @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
  @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); }}
  .loginGoogleRow {
    margin-top: -15px !important;
  }
  .loginBtnRow {
    padding-bottom: 30px;
  }
  .googleIcon {
    font-size: 23px;
    margin-right: 5px;
  }
  .forgottenPassText {
    font-size: 14px;
    color:whitesmoke;
  }
  .googleText {
    font-weight: 500;
    color:whitesmoke;
  }
  .loginRegisterText {
    font-weight: 500;
    margin-left: 5px;
  }
  .loginRegisterRow {
    margin-top: 25px;
    color:whitesmoke;
  }
  .registerQ {
    font-size: 13.5px;
  }
  .registerLogin {
    font-size: 13.5px;
    font-weight: 500;
    margin-left: 5px;
  }
  .center{
      display:flex !important;
      justify-content: center !important;
  }
  .loginRegisterText1{
    margin-bottom: 10px !important;
    margin-top: 8px !important;
  }